[submodule "tests/GalSim"]
	path = tests/GalSim
	url = https://github.com/GalSim-developers/GalSim
	branch = fix_tests
[submodule "tests/Coord"]
	path = tests/Coord
	url = https://github.com/LSSTDESC/Coord.git
	branch = main
